
.main{
    text-align: center;
    margin : 400px 400px 400px 400px;
    padding : 40px;
    display : flexbox;
    flex-wrap: wrap;
}
.p{
    font-size: 15px;
    padding: 0.4px 0.2px 0.5px 0.1px;
margin : 0.2px;
text-align: center;
border : 1px;
border-radius: 1%;
font-family:'Outfit', sans-serif;;
font-weight: 400, 700;
}

section{
    border : 1px;
    padding : 1px 0.2px 0.1px 0.1px;
    background-color: whitesmoke;
    border-radius: 2%;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(76,214,29,1) 0%, rgba(0,212,255,1) 100%);
}